input::placeholder,
textarea::placeholder {
  color: rgb(220, 220, 220) !important;
  opacity: 1;
}

.mi-cartel {
  background-color: #e0e0e0;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 10px;
  text-align: center;
}
.icono-texto {
  display: flex;
  align-items: center;
  gap: 8px; /* espacio entre ícono y texto */
}

.candado-fa {
  font-size: 14px;
  color: #666;
}